sudo: false
language: node_js
node_js:
  - "stable"

install:
  - npm install

services:
  - mongodb

script:
  - npm run lint
  - npm run test

cache:
  directories:
    - "node_modules"

notifications:
  email:
    on_success: never
    on_failure: always
